 @import url('https://fonts.cdnfonts.com/css/frenklins-display-trial');
 @import url('https://fonts.cdnfonts.com/css/quicksand');
 
 body{
  
  margin: 0;
  padding: 0;
  background-color: rgb(249, 247, 244) !important;
 }
    /* nav */
.nav{
    border: solid rgb(249, 247, 244);
    background-color:rgb(249, 247, 244);
    height:25vh;
    z-index:3;
}
.leaf{
       width: 6vw;
       height: 12vh;
       margin-left: 15vh;
       margin-top: -35vh;
        position: relative;
       z-index: 2;
    }
    .mint{
       font-family: 'Frenklins Display Trial', sans-serif; 
       text-decoration: none;
      position: absolute;
      font-size: 4.5vh;
      color: black;
      margin-top: -9vh;
      margin-left: -11vh;
    }
    .m{
      font-family:'Quicksand Book', sans-serif;
      font-size: 2.8vh;
      font-weight: bold;
      margin-left:50vh;
      margin-top: -15vh;
      text-decoration: none;
      position: absolute;
      color: black;
    }
    .m:hover{
      color: rgb(82, 112, 82);
    }
    .our{
      font-family:'Quicksand Book', sans-serif;
      font-size: 2.8vh;
      font-weight: bold;
      margin-left:63vh;
      margin-top:-15vh;
      text-decoration: none;
      position: absolute;
      color: black;
    }
    .our:hover{
    color: rgb(82, 112, 82);
    }
    .reser{
      font-family:'Quicksand Book', sans-serif;
      font-size: 2.8vh;
      font-weight: bold;
      margin-left: 83vh;
      margin-top: -15vh;
      text-decoration: none;
      position: absolute;
      color: black;
    }
    .reser:hover{
      color: rgb(82, 112, 82);
    }
    .log{
       width: 3vw;
       height: 6vh;
       margin-left: 115vh;
       margin-top: -29vh;
      }
      .login{
        font-family:'Quicksand Book', sans-serif;
      font-size: 2.8vh;
      font-weight: bold;
      position: absolute;
      margin-left: 152vh;
      margin-top: -18vh;
      }
      .lock{
       width:2.5vw;
       height:5vh; 
       margin-left:15vh;
       margin-top:-29vh;
       
      }
       .oo{
   font-weight: bold;
  color: white;
  background-color: rgb(1, 1, 31);
  border: solid;
  max-width: fit-content;
  padding: 1.5vh 1vw;
  margin-left:10vh;
  margin-top: -15vh;
  border-radius: 5vh;
  position: absolute;
  font-family: 'Frenklins Display Trial', sans-serif;
  text-decoration: none;
    }
.oo:hover{
  color: rgb(1, 1, 31);
  background-color: white;
    }

    .menub {
  display: none;
}
.side{
  display: none;
}
     .side .close-btn {
  display:none;
} 
      .os{
          font-family: 'Frenklins Display Trial', sans-serif; 
          font-weight: bold;
          font-size: 13vh;
          text-align: center;
          margin-top: 5vh;
      }
      .people{
        /* font-family: 'Frenklins Display Trial', sans-serif;  */
        font-size: 5vh;
         font-family:'Quicksand Book', sans-serif;
         font-weight: bold;
         text-align: center;
      }
      .straw1{
        width: 28vw;
        height: 80vh;
        margin-left: 25vh;
        margin-top: -75vh;
        position: absolute;
        border-radius: 35vh 35vh 0 0;
      }
      .box1{
        width: 60vw;
        height: 60vh;
        position:relative;
        background-color:rgb(242, 228, 207);
        margin-top: 40vh;
        margin-left: 60vh;
        
      }
      .sweet{
         font-family:'Quicksand Book', sans-serif;
        font-size: 3.5vh;
        font-weight: bold;
         position: absolute;
        margin-left: 95vh;
        margin-top: -40vh;
       text-align: center;
      }
      .box2{
        width: 60vw;
        height: 60vh;
        position:relative;
        background-color:rgb(242, 228, 207);
        margin-top: 40vh;
        margin-left: 25vh;
      }

    .straw2{
       width: 28vw;
        height: 80vh;
        margin-left: 127vh;
        margin-top: -74vh;
        position: absolute;
        border-radius: 35vh 35vh 0 0;
    }
    .each{
      font-family:'Quicksand Book', sans-serif;
        font-size: 3.5vh;
        font-weight: bold;
         position: absolute;
        margin-left: 45vh;
        margin-top: -35vh;
       text-align: center;
    }


    .box{
  margin-top: 35vh;
  border:30vh solid rgb(4, 4, 63);
}
.connect{
    color: white;
    font-size: 5.5vh;
    margin-top: -45vh;
    margin-left: 35vh;
    font-family: 'Frenklins Display Trial', sans-serif;
} 
.insta{
  margin-top: 2VH;
  margin-left: 35vh;
    width: 2vw;
    height:5vh ;
}
.fb{
   margin-top: 2VH;
  width: 2vw;
    height:5vh ;
    margin-left:2vh;
}
.info{
  font-size: 2.5vh;
  color: white;
  margin-top: 4VH;
  margin-left: 35vh;
  font-family:'Quicksand Book', sans-serif;
}
.Visit{
  color: white;
  margin-top: -30vh;
  margin-left: 80vh;
   font-family: 'Frenklins Display Trial', sans-serif;
}
.day{
   color: white;
   font-size: 2.3vh;
  margin-top: 5vh;
  margin-left: 80vh;
 font-family:'Quicksand Book', sans-serif;
}
.ju{
  color: white;
  font-size: 5vh;
  margin-top: -31vh;
  margin-left: 130vh;
  font-family: 'Frenklins Display Trial', sans-serif;
}
.deals{
color: white;
font-size: 2.3vh;
margin-left: 130vh;
font-family:'Quicksand Book', sans-serif;
}
.email{
margin-left: 130vh;
color: white;
font-family:'Quicksand Book', sans-serif;
}
.emailbox{
margin-left: 130vh;

}
.submit{
border:0.2vh solid white;
max-width: fit-content;
padding: 1vh 2vh;
margin-left: 137vh;
margin-top: 5vh;
border-radius: 4vh;
font-size: 2vh;
color: white;
font-family:'Quicksand Book', sans-serif;
}
.submit:hover{
    background-color: white;
    color:rgb(4, 4, 63);
}













  @media screen and (max-width: 600px) {
  body { 
  margin: 0;
   padding: 0;
 height: 100%;
 background-color: rgb(249, 247, 244) !important;
  
  }
.nav{
     border:1px solid rgb(249, 238, 227);
     background-color: rgb(249, 238, 227);
     height:100px;
     width: 98vw;
    }
    
    .leaf{
       width: 10vw;
       height: 7vh;
       margin-left: 8vh;
       margin-top:-12vh;
        position: absolute;
      
    }
    .mint{
       font-family: 'Frenklins Display Trial', sans-serif; 
       text-decoration: none;
      position: absolute;
      font-size: 3vh;
      color: black;
      margin-top: -5vh;
      margin-left: 7.2vh;
      
    } 
     .m{
     display: none;
    }
   
    .our{
      display: none;
    }
    
    .reser{
      display: none;
    }
    
    .log{
      display: none;
      }
      .login{
       display: none;
      }
     
.oo{
  display: none;
}
.lock{
  position: absolute;
  width: auto;
  margin-left: 28vh;
  margin-top: -9vh;

}
.menub {
  font-size:5vh; 
  margin-top: -10vh;  
   margin-left: 38vh; 
  position: absolute;
  display:block;  
}

/* Side navigation */
.side {
  height:30vh; 
  width: 0;    
z-index: 100;  
border: 0.2vh solid #fdf6f0;
   top: 0;
  right:0;
 background-color:#fdf6f0;
  display:inline-block;
   overflow-x: hidden;
   position: absolute;
  transition: 0.4s;
  padding-top: 5vh;  
  box-shadow: -0.5vw 0 1vw rgba(0,0,0,0.1); 
}

.side a {
      display:block;
      padding: 5px 5px;
      text-decoration: none;
      font-size: 2vh;
      color: #1e1432;
      transition: 0.2s;
      text-align: center;
    }

  
/* Close button */
.side .close-btn {
  position: absolute;
  top: -2vh;
  right: 0vw;          
  font-size: 15vw;    
  cursor: pointer;
  display:inline-block;
}

      .os{
          font-family: 'Frenklins Display Trial', sans-serif; 
          font-weight: bold;
          font-size: 6vh;
          text-align: center;
          margin-top: 5vh;
      }
      .people{
       
        font-size: 4vh;
         font-family:'Quicksand Book', sans-serif;
         font-weight: bold;
         text-align: center;
      }
      .straw1{
        width: 90vw;
        height: 70vh;
        margin-left: 2.5vh;
        margin-top: 0vh;
        position: absolute;
        border-radius: 35vh 35vh 0 0;
      }
      .box1{
       display:none;
      }
      .sweet{
         font-family:'Quicksand Book', sans-serif;
        font-size: 3vh;
        font-weight: bold;
         position: absolute;
        margin-left: 1vh;
        margin-top: 75vh;
       text-align: center;
      }
      .box2{
       display: none;
      }

    .straw2{
       width: 90vw;
        height: 70vh;
        margin-left: 2.5vh;
        margin-top: 120vh;
        position: absolute;
        border-radius: 35vh 35vh 0 0;
    }
    .each{
      font-family:'Quicksand Book', sans-serif;
        font-size: 3vh;
        font-weight: bold;
         position: absolute;
        margin-left: 0vh;
        margin-top: 195vh;
       text-align: center;
    }


   .box{
 margin-top: 230vh;
  position: relative;
  width: 99vw;
  height: 120vh;
  background-color:rgb(4, 4, 63);
  border:2vh solid rgb(4, 4, 63);
}
 .connect{
  position: absolute;
    color: white;
    font-size: 3vh;
    margin-top: -115vh;
    margin-left: 5vh;
   font-family: 'Frenklins Display Trial', sans-serif; 
}  
.insta{
  position: absolute;
  margin-left: 5vh;
  margin-top: -108vh;
    width: 10vw;
    height:5vh ;
}
.fb{
  margin-left: 11vh;
  margin-top: -108vh;
  width: 10vw;
  height:5vh ;
  position: absolute; 
}
.info{
  position: absolute;
  font-size: 2.5vh;
  color: white;
  margin-top: -100vh;
  margin-left: 5vh;
  font-family:'Quicksand Book', sans-serif;
}
.Visit{
  position: absolute;
  color: white;
  margin-top: -88vh;
  margin-left: 5vh;
  font-family: 'Frenklins Display Trial', sans-serif;
}
.day{
  position: absolute;
   color: white;
   font-size: 2.3vh;
  margin-top: -80vh;
  margin-left: 5vh;
  font-family:'Quicksand Book', sans-serif;
}
.ju{
  position: absolute;
  color: white;
  font-size: 3vh;
  margin-top: -58vh;
  margin-left: 5vh;
  font-family: 'Frenklins Display Trial', sans-serif;
}
.deals{
  position: absolute;
color: white;
font-size: 2.3vh;
margin-top: -52vh;
margin-left: 5vh;
font-family:'Quicksand Book', sans-serif;

}
.email{
  position: absolute;
margin-left: 5vh;
margin-top: -38vh;
color: white;
font-family:'Quicksand Book', sans-serif;
}
.emailbox{
margin-left: 5vh;
margin-top: -38vh;
position: absolute;
}
.submit{
border:0.2vh solid white;
max-width: fit-content;
padding: 1vh 2vh;
margin-left: 5vh;
margin-top: -30vh;
border-radius: 4vh;
font-size: 2vh;
color: white;
position: absolute;
font-family:'Quicksand Book', sans-serif;
}
.submit:hover{
    background-color: white;
    color:rgb(4, 4, 63);
}  



























  }